<li><%= link_to render('britain_language.svg'), controller: 'home', action: 'change_locale', id: 'en', class: 'flag' %></li>
<li><%= link_to render('norwegian_language.svg'), controller: 'home', action: 'change_locale', id: 'nb', class: 'flag' %></li>