<li><%= link_to 'English/', controller: 'home', action: 'change_locale', id: 'en', class: 'flag' %></li>
<li><%= link_to 'Norsk', controller: 'home', action: 'change_locale', id: 'nb', class: 'flag' %></li>