<div class="card card-body">
  <i class="fas fa-train"></i>

</div>
<p id="ruter">Hei<%= @result %></p>
<%= params[:origin] %>
<%= params[:destination] %>


<%# @travel['TravelProposals'].each do |proposals| %>
<!--            <div class="card card-body">-->
<!--              <p>Avgangstid: <%#= proposals['DepartureTime'] %></p> <br>-->
<!--              <p>Ankomsttid: <%#= proposals['ArrivalTime'] %></p> <br>-->
<%# proposals['Stages'].each do |line| %>
<!--                <p>Transport: <%#= line['Transportation'] %></p> <br>-->
<%# if line['ArrivalStop'].present? %>
<!--                  <p>Ankomst stop: <%#= line['ArrivalStop']['Name'] %></p> <br>-->
<%# end %>
<%# end %>
<!--            </div>-->
<%# end %>