<%= image_tag 'campus brenneriveien', campus id: 'campus_banner' %>
<h2>Campus Brenneriveien</h2>
<p>På Kuma i Oslo, kun et steinkast unna Campus Vulkan, finnet du vårt mest intime campus. Her holder våre studenter på maske- og hårdesign til, samt deler av Avdeling for film, TV og spill. Om dagen kryr det av kunstneriske sjeler, og om kvelden er det et yrende natteliv.</p>