<body>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h1>Fjerdingen</h1>
      </div>
      <div class="col-md-4 offset-md-8">
        <button class="button">annet</button>
        <button class="button">restauranter</button>
        <button class="button">dagligvarer</button>
      </div>
    </div>
  </div>

  <div class='container'>
    <div class='row'>
      <div class='col-md-5'>
        <p>
           Det er her du finner de kuleste, smarteste, mest kreative of innovative elevene.
            På denne siden kan du finne hva som er i nærheten av campuset, som mat, resturanter, utesteder osv.
        </p>

        <h6>Telefon</h6>
        <p>22 05 75 50</p>

        <br>

        <h6>Adresse</h6>
        <p>Chr. Krohgs gate 32, 0186 Oslo, Norge</p>

        <br>

        <h6>Åpningstider</h6>
        <p>
          <span class="sub_tittel">Man – Fre:</span> 08.00 – 24.00 <br>
          <span class="sub_tittel">Lør – Søn:</span> 10.00 – 23.00 <br>
          <span class="sub_tittel">Resepsjon er bemannet Man - Fre:</span> 08.00 - 16.00
        </p>
      </div>

        <div class='col-md-7'>
          <%= image_tag 'campus_fjerdingen.jpg' %>
        </div>


    </div>
  </div>
</body>
