<div class="container">
  <br>
  <h1>Fjerdingen</h1>
</div>

<div class='container'>
  <div class='row'>

    <div class="col-md-4 offset-md-8" al>
      <button type="button">annet</button>
      <button type="button">restauranter</button>
      <button type="button">dagligvarer</button>
    </div>
    <div class='col-md-5'>

      <p>
         Det er her du finner de kuleste, smarteste, mest kreative of innovative elevene.
          På denne siden kan du finne hva som er i nærheten av campuset, som mat, resturanter, utesteder osv.
      </p>

      <h6>Telefon</h6>
      <p>22 05 75 50</p>

      <br>

      <h6>Adresse</h6>
      <p>Chr. Krohgs gate 32, 0186 Oslo, Norge</p>

      <br>

      <h6>Åpningstider</h6>
      <p>
        Man – fre: 08.00 – 24.00 <br>
        Lør – søn: 10.00 – 23.00 <br>
        Resepsjon er bemannet Man - fre: 08.00 - 16.00
      </p>

      <div class='col-md-7'>
        <%= image_tag 'campus_fjerdingen.jpg' %>
      </div>

    </div>
  </div>
</div>

