<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2> Campus Fjerdingen</h2>
      <p>Det er her du finner de kuleste, smarteste mest kreative og innovative
         elevene. <br>
        På denne siden kan du finne hva som er i nærheten av campuset,
        som map resturanter, utesteder osv.
      </p>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4 align-self-end">
      <button>Knapp</button>
      <button>Knapp</button>
      <button>Knapp</button>
    </div>
  </div>

  <div class="row">
      <%= image_tag 'campus fjerdingen.jpg' %>
  </div>
</div>