<!DOCTYPE html>
<html lang="en">
<head>
  <title>StudentHjelpern</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="container-fluid card card-body">
    <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <h1>Høyskolen Kristiana</h1>
      <hr>
      <h4>Campusene</h4>
      <div class="container">

      </div>
      <hr>
      <h4>Kontakt informasjon:</h4>
      <p>Felles sentralbord for all campus (kl. 08.00-15.30):<br>
        Telefon: 22 05 75 50<br><br>
      Åpningstider resepsjon:<br>
      Mandag - fredag: 08.00-16.00<br><br>
      Campus' åpningstider:<br>
      Mandag - fredag: 16.00-00.00</>
      <hr>
      <div class="row">
        <!---->
        <div class="col-md-4">
          <h4>Student tilbud:</h4>
          <p>Lege</p>
          <p>Tannlege</p>
          <p>Rådgivning</p>
        </div>
        <div class="col-md-4">
          <h4>Mat tilbud:</h4>
        </div>
      </div>
      <hr>
      <h4>Mer informasjon på:</h4>
      <
      <p>Kristiania.no</p>
      <p>Westerdals.no</p>
    </div>
    </div>
  </div>
</body>

</html>