<!-- BANNER -->
<div id="banner">
  <!-- BILDE HER -->
  <%= image_tag 'kvadraturen_banner.jpg', id: 'campus_banner' %>
  <!-- BANNER TEKST HER-->
  <div class="col-md-6 col-lg-6 pl-md-5 pl-lg-5 pl-3 text-light" id="banner_text">
    <h1>Høyskolen Kristiana</h1>
  </div>
</div>
<div class="row col-md-12 col-lg-12 pl-md-6 pl-lg-6 pl-3 text-light">
  <div class="col-md-4 pl-md-6 pl-lg-6 pl-3">
    <%= link_to image_tag('campus_fjerdingen.jpg', class: "rounded img-responsive", id: "campus"), '/fjerdingen' %>
    <h5>Fjerdingen:</h5>
  </div>
  <div class="col-md-4 pl-md-6 pl-lg-6 pl-3">
    <%= link_to image_tag('campus_kvadraturen.jpg', class: "rounded img-responsive", id: "campus"), '/kvadraturen' %>
    <h5>Kvadraturen</h5>
  </div>
  <div class="col-md-4 pl-md-6 pl-lg-6 pl-3">
    <%= link_to image_tag('campus_vulkan.jpg', class: "rounded img-responsive", id: "campus"), '/vulkan' %>
    <h5>Vulkan & Brenneriveien</h5>
  </div>
</div>
<!-- Info felles for campusene -->
<div class="row background-daisy col-md-12 col-lg-12 pl-md-6 pl-lg-6 pl-3">
  <div class="col-md-8 pl-5 ">
    <h4>Kontakt informasjon:</h4>
    <p>Felles sentralbord for all campus (kl. 08.00-15.30):<br>
      Telefon: 22 05 75 50<br><br>
      Åpningstider resepsjon:<br>
      Mandag - fredag: 08.00-16.00<br><br>
      Campus' åpningstider:<br>
      Mandag - fredag: 16.00-00.00</p>
    <hr>
  </div>
</div>
<!-- Student Tilbud -->
<div class="row">
  <div class="col-md-4 col-lg-4 card col-12 background_red mr-md-5 mr-lg-5 text-light p-0 ml-md-5 ml-lf-5 m-0">
    <div class="card card-body background_red pl-md-5 pl-lg-5 pl-3">
      <div><u>SiO Tilbud:</u></div>
      <ul>
        <li><a href="https://www.sio.no/helse/radgivning">Rådgivning</a></li>
        <li><a href="https://www.sio.no/helse">Lege</a></li>
        <li><a href="https://www.sio.no/helse/tannlege">Tannlege</a></li>
      </ul>
    </div>
  </div>
  <!-- delt i to -->
  <div class="col-md-4 col-lg-4 card col-12 background_red mr-md-5 mr-lg-5 text-light p-0">
    <div class="card card-body background_red pl-md-5 pl-lg-5 pl-3">
      <div><u>Ukas' Mat tilbud:</u></div>
      <ul>
        <li><a href="https://www.rema.no/kampanjevarer">Rema 1000</a></li>
        <li><a href="http://kundeavis.coop.no/aviser/prix/ost/?id=4306">Coop Prix</a></li>
        <li><a href="http://kundeavisene.no/7-kiwi?gclid=Cj0KCQjw_ZrXBRDXARIsAA8KauT3efDxcWNqNg-UIFvUUzLIP_HqdN7sT9xuH-twHagFKb5CYH2OXo4aAnuYEALw_wcB">Kiwi</a>
        </li>
        <li><a href="https://meny.no/tilbud">Meny</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row background-daisy col-md-12 col-lg-12 pl-md-6 pl-lg-6 pl-3">
  <div>
    <h4>Mer informasjon på:</h4>
  <a href="https://kristiania.no">Kristiana.no</a><br>
  <a href="https://www.westerdals.no">Westerdals.no</a>
  </div>
</div>