<div class="row">
  <div class="col-md-2"></div>
  <div class="col-lg-8">
    <div class="row">
      <div class="col-lg-1">
        <button class="dropdown btn-dark" type="button" data-toggle="collapse" data-target="#from" aria-expanded="false">
          Reis fra
        </button>
        <div class="btn-dark col-md-1 collapse" id="from">
          <% @from.each do |from| %>
            <button onclick="">
              <%= from %>
            </button>
          <% end %>
        </div>
      </div>

      <button class="dropdown-toggle" type="button" data-toggle="collapse" data-target="from" aria-expanded="false">
        Reis til
      </button>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div id="map" onload="initMap()"></div>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>