<!DOCTYPE html>
<html lang="en">
<head>
  <title>StudentHjelpern</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="container-fluid card card-body">
    <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <h1>Høyskolen Kristiana</h1>
      <hr>
      <div class="container">
        <h4>Campusene</h4>
        <div class="row">
          <title>Brenneriveien:</title>
          <%= link_to image_tag('campus_brenneriveien.jpg',class:"rounded float-left", id:"campus"), '/brenneriveien' %>
          <title>Fjerdingen:</title>
          <%= link_to image_tag('campus_fjerdingen.jpg',class:"rounded float-left", id:"campus"), '/fjerdingen'%>
          <title>Kvadraturen</title>
          <%= link_to image_tag('campus_kvadraturen',class:"rounded float-left", id:"campus"), '/kvadraturen'%>
          <title>Vulkan</title>
          <%= link_to image_tag('campus_vulkan.jpg',class:"rounded float-left", id:"campus"), '/vulkan'%>
        </div>
      </div>
      <hr>
      <h4>Kontakt informasjon:</h4>
      <p>Felles sentralbord for all campus (kl. 08.00-15.30):<br>
        Telefon: 22 05 75 50<br><br>
      Åpningstider resepsjon:<br>
      Mandag - fredag: 08.00-16.00<br><br>
      Campus' åpningstider:<br>
      Mandag - fredag: 16.00-00.00</>
      <hr>
      <div class="row">
        <!---->
        <div class="col-md-4">
          <h4>SiO tilbud:</h4>
          <ul>
            <li><a href="https://www.sio.no/helse">Lege</a></li>
            <li><a href="https://www.sio.no/helse/tannlege">Tannlege</a></li>
            <li><a href="https://www.sio.no/helse/radgivning">Rådgivning</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Mat tilbud:</h4>
            <ul>
              <li><a href="https://www.rema.no/kampanjevarer">Rema 1000</a></li>
              <li><a href="http://kundeavis.coop.no/aviser/prix/ost/?id=4306">Coop Prix</a></li>
              <li><a href="https://www.tilbudsuken.no/tilbudsavis/Dagligvarer/joker">Joker</a></li>
              <li><a href="http://kundeavisene.no/7-kiwi?gclid=Cj0KCQjw_ZrXBRDXARIsAA8KauT3efDxcWNqNg-UIFvUUzLIP_HqdN7sT9xuH-twHagFKb5CYH2OXo4aAnuYEALw_wcB">Kiwi</a></li>
              <li><a href="https://meny.no/tilbud">Meny</a></li>
            </ul>
          <h4>Student tilbud:</h4>
          <p>Lege</p>
          <p>Tannlege</p>
          <p>Rådgivning</p>
        </div>
        <div class="col-md-4">
          <h4>Mat tilbud:</h4>
        </div>
      </div>
      <hr>
      <h4>Mer informasjon på:</h4>
      <a href="https://kristiania.no">Kristiana.no</a><br>
      <a href="https://www.westerdals.no">Westerdals.no</a>
    </div>
    </div>
  </div>
</body>

</html>