<!-- BACKGROUND IMAGE -->
<div class="position-relative">
  <div class="position-fixed">
    <%= image_tag 'kvadraturen_banner.jpg' %>
    <div class="row">
      <h1>campus</h1>
      <h2>Kvadraturen</h2>
      <p>Høyskolen Kristiania Oslo er en unik høyskole som holder til i moderne lokaler
        med historisk atmosfære midt i Oslo sentrum.<br>ELLER LISTE OM FAKULTETER HER</p>
    </div>
  </div>
</div>
<!-- DELEN UNDER -->
<div class="pl-5 pr-5" id="body_div">
  <!-- INFO, TELEFON, ADRESSE-->
  <h1 class="pt-3" id="info_tittel">Info</h1>
  <div class="row">
    <!-- TELEFON -->
    <div class="col-md-4" id="info_div">
      <h2 class="tittel-info">Åpningstider</h2>
      <p>Man–fre: 07.30 – 23.00<br>
        Lør–søn: 09.00 – 17.00</p>
    </div>
    <!-- ÅPNINGSTIDER -->
    <div class="col-md-4" id="info_div">
      <h2 class="tittel-info">Ansatte</h2>
      <p class="pt-2">
        Man–fre: 08.00 – 16.00</p>
    </div>
    <!-- ADRESSE -->
    <div class="col-md-4">
      <h2 class="tittel-info">Adresse</h2>
      <p id="campus_adresse">Kirkegata 24-26<br>0153 Oslo<br>Norge</p>
    </div>
  </div>
  <div class="row justify-content-between pt-5">
    <!-- RØD BOKS KNAPPER -->
    <div class="col-md-4 card" id="farge-div">
      <h2 id="store-info-tittel">Nærområdet</h2>
      <!-- KNAPP 1 -->
      <button class="button">Matbutikker</button>
      <ul>
        <li>Matkroken (Steen &amp; Strøm)</li>
        <li>Coop Prix (Oslo S)</li>
        <li>Joker (Oslo S)</li>
        <li>Kiwi (Byporten)</li>
      </ul>
      <!-- KNAPP 2 -->
      <button class="button">Spisesteder</button>
      <ul>
        <li>Steen &amp; Strøm</li>
        <li>Østbanehallen</li>
      </ul>
      <!-- KNAPP 3 -->
      <button class="button">Hurtigmat</button>
      <ul>
        <li>Burger King</li>
        <li>Peppes Pizza</li>
        <li>Subway</li>
      </ul>
    </div>
    <!-- KART-->
    <div class="col-md-7 card background_red">
      <%= render 'home/campus_map' %>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-md-4 col-lg-4 col-12">
      <h1>Auditorium</h1>
      <p>Info</p>
    </div>

    <div class="col-md-4 col-lg-4 col-12">
      <h1>Studentkro</h1>
      <p>Info</p>
    </div>

    <div class="col-md-4 col-lg-4 col-12">
      <h1>Bokhandel</h1>
      <p>Info</p>
    </div>


  </div>
</div> <!-- END CONTAINER-->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeuhvsD4Oh7u3UNHNmrdtLvlDpdg1uygE&libraries=places&callback=campus"
        async defer></script>
