
<!--    <div class="col-md-6">-->
<!--      <iframe style="border: 0;"-->
<!--              src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyDeuhvsD4Oh7u3UNHNmrdtLvlDpdg1uygE &amp;destination=<%#= @til %>> &amp;origin=<%#= @fra %>> &amp;mode=transit" width="600" height="450" frameborder="0" allowfullscreen="allowfullscreen">-->
<!--        <span data-mce-type="bookmark" style="display: inline-block; width: 0px; overflow: hidden; line-height: 0;" class="mce_SELRES_start">﻿</span>-->
<!--        <span data-mce-type="bookmark" style="display: inline-block; width: 0px; overflow: hidden; line-height: 0;" class="mce_SELRES_start">﻿</span>-->
<!--      </iframe>-->
<!--    </div>-->
    <div class="col-md-1"></div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-1">
            <button class="dropdown btn-dark" type="button" data-toggle="collapse" data-target="#from" aria-expanded="false">
              Reis fra
            </button>
            <div class="btn-dark col-md-1 collapse" id="from">
              <% @from.each do |from| %>
                <button onclick="">
                  <%= from %>
                </button>
              <% end %>
            </div>
          </div>

          <button class="dropdown-toggle" type="button" data-toggle="collapse" data-target="from" aria-expanded="false">
            Reis til
          </button>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <div id="map" onload="initMap()"></div>
          </div>
          <div class="col-lg-4"></div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>