
<!-- BANNER -->
<div id="banner_image_div">

  <!-- BILDE HER -->
  <%=image_tag'campus_vulkan.jpg',id:'campus_banner'%>

  <!-- BANNER TEKST HER-->
  <div class="container-fluid" id="banner_text_div">
    <h1 id="klasse_tittel">Campus</h1>
    <h2 id="campus_tittel">Vulkan</h2>
    <p id="info_banner">Her finner du en Campus med et sort bygg med gule vinduskarmer. Bare et steinkast unna
      Grunerløkka med sine
      mange fristelser får du mange steder å hente inspirasjon til skolearbeidet.<br>ELLER LISTE OM FAKULTETER HER</p>
  </div>

</div>

<!-- DELEN UNDER -->
<div id="body_div">
  <div class="container">

    <br>
    <!-- INFO, TELEFON, ADRESSE-->
    <h1 id="info_tittel">Info</h1>

    <div class="row">


      <!-- TELEFON -->
      <div class="col-md-4" id="info_div">

        <h2 class="tittel-info">Telefon</h2>
        <br>
        <p>22 05 75 50</p>

      </div>

      <!-- ÅPNINGSTIDER -->
      <div class="col-md-4" id="info_div">

        <h2 class="tittel-info">Åpningstider</h2>
        <br>
        <ul>
          <li class="campus_tittel">Resepsjonen er bemannet mandag-fredag 08.00-22.00</li>
          <li class="campus_tittel">Byggets åpningstid: 08.00-22.00, lørdag 10.00-18.00 og søndag 10.00-20.00</li>
          <li class="campus_tittel">Undervisning egen utdanning: I byggets åpningstid</li>
          <li class="campus_tittel">Åpningstider biblotek: I byggets åpningstid</li>
        </ul>

      </div>

      <!-- ADRESSE -->
      <div class="col-md-4">

        <h2 class="tittel-info">Adresse</h2>
        <br>
        <p id="campus_adresse">Vulkan 19<br>0178 Oslo<br>Norge</p>

      </div>

    </div>

    <div class="row justify-content-between">

      <!-- RØD BOKS KNAPPER -->
      <div class="col-md-4" id="farge-div">

        <h2 id="store-info-tittel">Nærområdet</h2>

        <!-- KNAPP 1 -->
        <button class="button">Matbutikker</button>

        <ul>
          <li>Matkroken</li>
          <li>en til</li>
          <li>pluss en til</li>

        </ul>

        <!-- KNAPP 2 -->
        <button class="button">Spisesteder</button>

        <ul>
          <li>Steen &amp; Strøm</li>
          <li>Ris Bolle</li>
          <li>Subway</li>

        </ul>

        <!-- KNAPP 3 -->
        <button class="button">Annet</button>

        <ul>
          <li>Matkroken</li>
          <li>en til</li>
          <li>pluss en til</li>

        </ul>


      </div>


      <!-- KART-->
      <div class="col-md-7">

         <div id="map-div">

           <!--KARTBILDE-->

        </div>

      </div>

    </div>

    <div class="row">


      <!-- AUDITORIUM -->
      <div class="col-md-12">

        <h2>Auditorium</h2>

        <a href="https://no.timeedit.net/web/westerdals/db1/" class="offset-md-1">Info / Rom</a>

      </div>


      <!-- ANNEN EKSTRA INFO -->
      <div class="col-md-12">

        <h2 class="info_headline">Bibliotek</h2>
        <p>Høyskolens bibliotek ligger i Vulkan 19 i 1 etasje.<br>
          Åpningstider i hverdager fra 08-20, fredag fra 08-16.<br>
          Helg fra 1030-17</p>

      </div>


      <!-- ANNEN EKSTRA INFO -->
      <div class="col-md-12">

        <h2 class="info_headline">Bokhandel</h2>

        <h3 class="offset-md-1">Info</h3>

      </div>



    </div> <!-- END ROW -->

    <!-- FOOTER -->
    <div class="container-fluid" id="campus_footer">

    </div>

  </div>

</div> <!-- END CONTAINER-->