// Place all the styles related to the home controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#kvadraturen_image_div {
}

#kvadraturen_banner {
  width: 100%;
  z-index: 99;
}

#kvadraturen-tittel {
  z-index: 100;
  align: center;
}

#kvadraturen_info {
  color: rgb(170, 170, 170);
  font-family: Helvetica;
  font-style: italic;
}

.kvadraturen_tittel {
  font-weight: bold;
}
//start of fjerdingen css

#banner_fjerdingen {

}