// Place all the styles related to the home controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/



#campus_banner {
  width: 100%;
  z-index: 99;
}

#campus_tittel {
  z-index: 100;
  align: center;
}

#campus_info {
  color: rgb(170, 170, 170);
  font-family: Helvetica;
  font-style: italic;
}

.campus_tittel {
  font-weight: bold;
}